html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.page-preview {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.page-preview-header {
    background: #f2f2f2;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #ccc;
}
.preview-btn {
    display: inline-block;
    margin: 0 10px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.preview-btn:hover {
    background-color: #e2f0fc;
    text-decoration: none;
}
.preview-btn.active {
    background-color: #c9e4f9;
}
.page-preview-body {
    flex-grow: 1;
    overflow: hidden;
    text-align: center;
}
iframe {
    width: 100%;
    height: 100%;
}
.back-to-home {
    position: absolute;
    top: 17px;
    left: 10px;
    text-decoration: none;
    color: #007bff;
    font-size: 14px;
}
@media (max-width: 1040px) {
    .page-preview-header {
        flex-direction: column;
    }

    .preview-btn {
        margin-bottom: 10px;
    }
}
